name: Build LunarWand

on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["**"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
          cache: maven

      - name: Build with Maven
        run: mvn -B -ntp -f pom.xml clean package

      - name: Upload JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: LunarWand-JAR
          path: target/*.jar
